html {
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
}

canvas {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 0;
    cursor: auto;
    -ms-interpolation-mode: nearest-neighbor;
}